/* IMPORT OF PROJECT FONT */
/* Import font Raleway from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* COLORS SPECIFICATIONS */
:root {
    --blue: #0065FC;
    --blue-light: #DEEBFF;
    --grey-light: #F2F2F2;
}

/* WILDCARD SELECTOR */
* {
    /* application boox-sizing on all éléments */
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    /* text-decoration: none; */
}

/* remove internal and external margins all over the body */
body {
    padding: 0px;
    margin: 0px;
}

/*  add padding for search + main + sections-footer */
.wrapper {
    padding: 25px
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

/* NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: -27px;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    padding: 20px;
    border-top: 3px solid transparent;
    font-size: medium;
}

.nav-menu a:hover {
    border-top-color: var(--blue);
    color: var(--blue);
}

#nav-logo {
    margin-right: auto;
    padding: 18px;
    width: 130px;
}
/*  HEADER END */

/* SECTION SEARCH */
/* SEARCH-INTRO */
#search-intro-title {
    margin-bottom: -7px;
    font-size: 20px;
}
#search-intro-sub-title {
    font-size: 16px;
    margin-bottom: 15px;
}
/* SEARCH FORM */
.search-form {
    display: flex;
    margin-bottom: 29px;
}
#icon-geoloc {
    padding: 16px 16px;
    background-color: var(--grey-light);
    border-radius: 16px 0 0 16px;
}
.search-form input {
    flex-basis: 45px;
    padding-left: 10px;
    border: 1px solid var(--grey-light);
}
.search-form input::placeholder {
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.search-form button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 16px 16px 0;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    transition: 180ms all ease;
}
.search-form button:hover {
    transform: scale(1.02)
}
#icon-search {
    display: none;
}

/* SEARCH - FILTERS */

/*  SEARCH - FILTERS - LIST -ITEMS */
.search-filters,
.search-filters-list-items,
.search-filter-item {
    display: flex;
    align-items: center;
}
.search-filters-list-items {
    gap: 26px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.search-filters-list-items h2 {
    font-size: 16px;
}
.search-filter-item {
    border: 2px solid var(--grey-light);
    border-radius: 32px;
    transition: 180ms all ease;
}
.search-filter-item:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
}
.search-filters .fas {
    color: var(--blue);
    background-color: var(--blue-light);
    border-radius: 50%;
    margin: -3px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-label {
    font-weight: bold;
    padding: 14px;
}

/* SEARCH INFO RESULTS */
.search-info-result {
    display: flex;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
}
.search-info-result .fas {
    color: var(--blue);
    width: 26px;
    height: 26px;
    border: 1px solid var(--blue-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION ACCOMODATIONS LIST*/

.accomodations-list {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.accomodations-list .city,
.accomodations-list .popular {
    background-color: var(--grey-light);
    padding:34px;
    border-radius: 16px;
}

@media (max-width:768px)  {
    .accomodations-list .city{
        background-color: white;
    }    
}
.accomodations-list .city {
    flex-basis: 66%;
}
.accomodations-list .popular {
    flex-basis: 33%;
}
.title-section {
margin-top:  0px;
font-size: 20px;
}
/* CITY */

.city-display-more {
    font-weight: bold;
}
.city-display-more:hover {
    color: var(--blue);
}

.city-accomodations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-around;
    margin-bottom: 16px;
}
/* CARD */
.city-accomodation-card {
    background-color: white;
    border-radius: 16px;
    padding: 4px;
    box-shadow: 0 0 16px #bbb4b3;
    flex-grow: 1;
    width: 29%;
    min-width: 150px;
}
.city-accomodation-card h3,
.city-accomodation-card p,
.city-accomodation-card .stars {
    margin: 5px;
}
.city-accomodation-card h3 {
 font-size: 14px;
}
.city-accomodation-card p {
    font-size: 12px;
}
.city-accomodation-card img {
    border-radius: 16px 16px 0 0;
    height: 128px;
    width: 100%;
    object-fit: cover;
}
.star-blue {
    color: var(--blue);
}
.star-blue-light {
    color: var(--blue-light);
}

/* POPULAR */
.accomodations-list .popular-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popular-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.popular-details h3 {
    font-size: 14px;
}
/* POPULAR CARD */
.popular-card  {
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 4px;
    box-shadow: 0 0 16px #bbb4b3;
    flex-grow: 1;
    flex-direction: row;
    min-width: 150px;
}
.popular-card img{
    height: 128px;
    width: 120px;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
}
.popular-list {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}
.popular-details .stars,
.popular-details h3,
.popular-details p {
    margin: 5px;
}
.popular-details p{
    font-size: 12px;
}
.popular-card a {
    display: flex;
}


/* ACTIVITIES */

.activities {
    padding:34px; 
    border: 1px solid red;
}
.container-activities {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
height: 600px;
}
.description-pic-activity {
    font-size: 12px;
}

/* MAIN END */

/* FOOTER */
footer {
    background-color: var(--grey-light);
}
.sections-footer{
    display: flex;
    justify-content: space-evenly;

}
.sub-section-footer {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.sub-section-footer a {
    padding-bottom: 5px;
}
.sub-section-footer a:hover{
    color: var(--blue);
}


/* FOOTER END */

/* MEDIA */

/* MOBILE */
@media (max-width:768px) {

    /* NAV */
    .nav-menu {
        flex-basis: 100%;
    }

    .nav-menu a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid var(--grey-light);
    }

    .nav-menu a:hover {
        border-bottom-color: var(--blue);
        border-top-color: transparent;
    }

    #nav-logo {
        margin: auto;
    }

    /* SEARCH */
    /* HIDDEN THE TEXT "RECHERCHER" */
    .search-button-text {
        display: none;
    }

    /* DISPLAY ICON SEARCH */
    #icon-search {
        display: inline;
    }
    /* SECTION ACCOMODATIONS */
    .accomodations-list {
        flex-direction: column;
    }

    .popular {
        order: -1;
    }

    .accomodations-list .popular-items {
        order: -1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* FOOTER */
    .sections-footer {
        flex-direction: column;
    }
    .sub-section-footer {
        width: 100%;
    }

}