/* IMPORT OF PROJECT FONT */
/* Import font Raleway from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* COLORS SPECIFICATIONS */
:root {
    --blue:#0065FC;
    --blue-light:#DEEBFF;
    --grey-light:#F2F2F2;
}

/* WILDCARD SELECTOR */
* {
    /* application boox-sizing on all éléments */
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    /* text-decoration: none; */
}

/* remove internal and external margins all over the body */
body {
    padding: 0px;
    margin: 0px;
}

/*  add padding for search + main + sections-footer */
.wrapper {
    padding: 25px
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */

    /* NAV */
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: -27px;
    }
    .nav-menu {
        display: flex;
    }
    .nav-menu a {
        padding:20px;
        border-top: 3px solid transparent;
        font-size: medium;
    }
    .nav-menu a:hover{
        border-top-color: var(--blue);
        color: var(--blue);
    }
    #nav-logo {
        margin-right: auto;
        padding :16px; 
        width: 110px;
    }
    
    
/*  HEADER END */

/* MAIN */

    /* SECTION SEARCH */
        /* SEARCH-INTRO */
            /* SEARCH-INTRO-TITLE & SUB-TITLE*/
            #search-intro-title {
                margin-bottom: 10px ;
                font-size:large;
            }
            #search-intro-sub-title {
                font-size:small;
                margin-bottom: 15px;

            }
            /* SEARCH FORM */
            .search-form {
                display: flex;
            }
            /* ICON GEOLOC */
            .fas.fa-map-marker-alt{
                padding: 16px 16px;
                background-color: var(--grey-light);
                border-radius: 16px 0 0 16px;
            }

            .search-form input {
                flex-basis: 45px;
                padding-left: 10px;
                border: 1px solid var(--grey-light);   
            }

            .search-form input::placeholder {
                font-size: 14px;
                color: black;
                font-weight: bold;

            }

            .search-form button {
                background-color: var(--blue);
                color: white;
                font-weight: bold;
                font-size: 16px;
                border-radius: 0 16px 16px 0;
                padding: 0 20px;
                border: none;
                cursor: pointer;
            }

            #icon-search {
                display: none;
            }
            
            
            
            
                
            /* SEARCH - FILTERS */
          
                /*  SEARCH - FILTERS - LIST -ITEMS */
                
                .search-filters .fas{
                        color: var(--blue);
                }

            /* SEARCH INFO RESULTS */
            .search-info-result .fas {
                color:var(--blue)
            }


    /* SECTION LODGINGS LIST*/
       /* COLORS STARS FOR GRADE OF CITY & POPULAR */
        .star-blue {
            color: var(--blue);
        }
        .star-blue-light {
            color: var(--blue-light);
        }

/* MAIN END */


/* FOOTER */
footer {
    background-color: var(--grey-light);
}

/* FOOTER END */

/* MEDIA */

/* MOBILE */
@media (max-width:768px) {
    .nav-menu {
       flex-basis: 100%;
    }
    .nav-menu a {
        flex-basis: 50%;
        text-align: center;
        border-bottom:3px solid var(--grey-light);
    }
    .nav-menu a:hover {
        border-bottom-color:var(--blue);
        border-top-color: transparent;
    }

    #nav-logo {
        margin: auto;
    }
    /* SEARCH */
    /* HIDDEN THE TEXT "RECHERCHER" */
    .search-button-text {
        display: none;
    }
    /* DISPLAY ICON SEARCH */
    #icon-search {
        display: inline;
    }
    

}